body {
    background-color: rgb(114, 113, 113);
}
.container {
    width: 1000px;
    margin: 20px auto auto;
}
#top-title {
    color: white;
    font-size: 38px;
    letter-spacing: 2px;
    padding: 10px;
    text-align: center;
    font-weight: 900;      
}
nav {
    display: flex;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
       
}
#OW {
    background-color:orange;
    font-size: 20px;
    opacity: 0.6;
    text-align: center;
    font-size: 20px;
}
.h-index {
    border-bottom: 3px dotted black;
    font-size: 30px;

}
.explanation {
    text-align: justify;
}
aside {
  float: left; 
  margin-top: 5px;
  text-align: center; 
  height: 340px;
  background-color: black;
}
.option-m-l {
    min-width: 280px;  
    border-bottom: 3px dotted gray;
    background-color: black;
    color: white;
    min-height: 52px;
    padding-top: 30px;
    transition: 4s;
}
.option-m-l:hover {
    background-color: white;
    color: black;
    border-bottom: 3px dotted black;
    cursor: pointer;
    transition: 2s;
}
#article {
    float: left;
    width: 670px;
    padding: 20px;
    background-color: orange;
    opacity: 0.6;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    height: 300px;
}
#co {
    font-size: 29px;
    border-bottom: 3px dotted black;
    padding: 15px;
    font-weight: 900;
}
#na {
    font-size: 25px;
    padding: 10px;
}
footer {
    clear: both;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}
.option {
    float: left;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 3px dotted gray;
    padding: 10px;
    transition: 4s;
    color: white;
}
.option:hover {
    background-color: white;
    color: black;
    border-right: 3px dotted black;
    cursor: pointer;
    transition: 1s;
}
.description {
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 50px;  
}
.name {
    width: 980px;
    height: 40px;
    background-color: black;
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    clear: both;
}
.portrait {
    float: left;
    height: 310px;
    width: 180px;
    border: 2px dotted whitesmoke;
}
.note {
    float: left;
    width: 782px;
    padding: 10px;
    text-align: justify;
    background-color: rgb(114, 113, 113);
    color: whitesmoke;
    font-size: 25px;
    border: 2px dotted whitesmoke;
    margin-left: 10px;
}
.with-matgin {
    margin-left: 75px;
}
